// @import "grid";

/*
 * Hello!
 * Here is how you would write responsive styles if you chose NOT to use a grid system.
 * If you'd like to use a grid system I'd recommend using one of the following:
 * 1. http://getskeleton.com/
 * 2. http://neat.bourbon.io/
 * 3. http://susy.oddbird.net/
 * When you are writing these styles, remember to write all of your base/mobile styles
 * first.
 * Then write your styles for your next larger "breakpoint" (screen width).
 * Then write your styles for your largest "breakpoint".
 * You can have as many breakpoints defined as you like - most developers use 3 or 4 that correspond with comminly used device-widths that they plan to support.
 * Use the internet as a resource when you need information!
 * See notes below. ***
 */


$light-grey: #bababa;

h1 {
  padding-top: 30px;
}

body {
  background-color:white;
  background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%),
  linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
  background-size:50px 50px;
}

section {
  margin-top: 50px;
  max-width: 350px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  height: 350px;
  background-color: #fff;
  border-radius: 50px;
}

@media screen and (min-width: 700px) {
  /* remember to change max/min 1024 */

  .form-control {
  width: auto;
  display: inline;
}

  section {
    height: 500px;
  }
}


@media screen and (min-width: 700px) {
  /* remember to change max/min 1024 */
  section {
    margin-left: auto;
    margin-right: auto;
  }
}

label {
  font-weight: 500;
}

.shopping-list {
  margin-left: auto;
  margin-right: auto;
  max-width: 275px;
  text-align: left;
  margin-top: 1em;

  input[type="checkbox"] {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
  }

  a {
    margin-left: 1em;
    padding: 5px;
  }

}